name: Prisma Cloud Checkov Analysis

on:
  push:
    branches: [ "main" ] 
  
jobs:
  checkov:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Test with Checkov
        id: checkov
        uses: bridgecrewio/checkov-action@master
        with:
          directory: .
          api-key: ${{ secrets.PC_ACCESS_KEY_ID }}::${{ secrets.PC_SECRET_ACCESS_KEY}}
          #api-key: 88766dc7-1e53-4915-a2da-54bbb0b6defe::K4vspm7oDGvPPRdFA5w2rU7ipDA=
          prisma-api-url: ${{ env.PC_API_URL }}
          #prisma-api-url: https://api2.prismacloud.io
          #prisma-api-url: ${{ env.PRISMA_CLOUD_URL }}
          output_format: cli
          use_enforcement_rules: True
          #soft_fail: True
