name: Prisma Cloud Checkov Analysis

on:
  push:
    branches: [ "main" ] 
env:
  # Definimos la URL como variable de ambiente para reutilizarla
  PC_API_URL: https://api2.prismacloud.io
  PC_PATH_TO_CONSOLE: https://us-east1.cloud.twistlock.com/us-2-158320372
  PC_TOKEN: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoic2VtYXJ0aW5lekBwYWxvYWx0b25ldHdvcmtzLmNvbSIsInJvbGUiOiJhZG1pbiIsInJvbGVQZXJtcyI6W1syNTUsMjU1LDI1NSwyNTUsMjU1LDk1XSxbMjU1LDI1NSwyNTUsMjU1LDI1NSw5NV1dLCJzZXNzaW9uVGltZW91dFNlYyI6NjAwLCJzYWFzVG9rZW4iOiJleUpoYkdjaU9pSklVekkxTmlKOS5leUp6ZFdJaU9pSnpaVzFoY25ScGJtVjZRSEJoYkc5aGJIUnZibVYwZDI5eWEzTXVZMjl0SWl3aWMyVnlkbWxqWlZWellXZGxUMjVzZVNJNmRISjFaU3dpWm1seWMzUk1iMmRwYmlJNlptRnNjMlVzSW5CeWFYTnRZVWxrSWpvaU9UQXlOVGs1TXpRME9UYzFOelU1TXpZd0lpd2lhWEJCWkdSeVpYTnpJam9pTXpRdU1UTTVMalkwTGpFMU1DSXNJbWx6Y3lJNkltaDBkSEJ6T2k4dllYQnBNaTV3Y21semJXRmpiRzkxWkM1cGJ5SXNJbkpsYzNSeWFXTjBJam93TENKMWMyVnlVbTlzWlZSNWNHVkVaWFJoYVd4eklqcDdJbWhoYzA5dWJIbFNaV0ZrUVdOalpYTnpJanBtWVd4elpYMHNJblZ6WlhKU2IyeGxWSGx3WlU1aGJXVWlPaUpUZVhOMFpXMGdRV1J0YVc0aUxDSnBjMU5UVDFObGMzTnBiMjRpT21aaGJITmxMQ0pzWVhOMFRHOW5hVzVVYVcxbElqb3hOemN4TWpFMk56RTVNakV3TENKaGRXUWlPaUpvZEhSd2N6b3ZMMkZ3YVRJdWNISnBjMjFoWTJ4dmRXUXVhVzhpTENKMWMyVnlVbTlzWlZSNWNHVkpaQ0k2TVN3aVlYVjBhQzF0WlhSb2IyUWlPaUpRUVU1ZlUwRk5URElpTENKelpXeGxZM1JsWkVOMWMzUnZiV1Z5VG1GdFpTSTZJa0ZRVURJZ1VISnBjMjFoSUVOc2IzVmtJRU4xYzNSdmJXVnlJRk4xWTJObGMzTWdUR0ZpTFNBMU5ERTRNVFkwTVRZM01ERTROems0TURRNElpd2ljMlZ6YzJsdmJsUnBiV1Z2ZFhRaU9qWXdMQ0oxYzJWeVVtOXNaVWxrSWpvaVpqTTFZems1T0RndE1XWmhNUzAwWlRjNUxXRTROV0V0TkRNeFlXVTFOV0l4TWpRNElpd2lhR0Z6UkdWbVpXNWtaWEpRWlhKdGFYTnphVzl1Y3lJNlptRnNjMlVzSW1WNGNDSTZNVGMzTVRJeU16VTNNaXdpYVdGMElqb3hOemN4TWpJeU9UY3lMQ0oxYzJWeWJtRnRaU0k2SW5ObGJXRnlkR2x1WlhwQWNHRnNiMkZzZEc5dVpYUjNiM0pyY3k1amIyMGlMQ0oxYzJWeVVtOXNaVTVoYldVaU9pSlRlWE4wWlcwZ1FXUnRhVzRpZlEucTJ1Q0czN2prM2VnRFZscHFXMk45dk9qUFJIVE1ZUjVieTRVeUd2SXkyNCIsImlzcyI6InR3aXN0bG9jayIsImV4cCI6MTc3MTIyNjU3Mn0.jxcgnPWy78uIyQI6nERxyZ365Y6uYfoxfjCjLCHt_iM
  IMAGE_NAME: my-app:${{ github.sha }}
jobs:
  checkov:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Test with Checkov
        id: checkov
        uses: bridgecrewio/checkov-action@master
        with:
          directory: .
          api-key: ${{ secrets.PC_ACCESS_KEY_ID }}::${{ secrets.PC_SECRET_ACCESS_KEY}}
          #api-key: 97aa1b08-40a4-41f1-ab28-56a7a4ef1b63::jnzkv0O5ns52+va1ziGFvqQq9r4=
          #prisma-api-url: ${{ env.PC_API_URL }}
          prisma-api-url: ${{ env.PC_API_URL }}          #prisma-api-url: ${{ env.PRISMA_CLOUD_URL }}
          output_format: cli
          #use_enforcement_rules: True
          soft_fail: True
      # ESCANEO DE IMAGEN CON TWISTCLI
      - name: Build Docker Image
        run: |
          docker build -t $IMAGE_NAME .
  
      - name: Download twistcli from the Prisma Cloud Compute Console
        run: |
             curl --user ${{ secrets.PC_ACCESS_KEY_ID }}:${{ secrets.PC_SECRET_ACCESS_KEY }} --output ./twistcli ${{ env.PC_PATH_TO_CONSOLE }}/api/v1/util/twistcli
             chmod a+x ./twistcli
                   
       # Runs twistcli sandbox
      - name: Run twistcli sandbox
        run: sudo ./twistcli image scan --address ${{ env.PC_PATH_TO_CONSOLE }} --user ${{secrets.PC_ACCESS_KEY_ID}} --password ${{secrets.PC_SECRET_ACCESS_KEY}} ${{ vars.IMAGE_NAME }}
