name: Prisma Cloud Checkov Analysis

on:
  push:
    branches: [ "main" ] 
env:
  # Definimos la URL como variable de ambiente para reutilizarla
  PC_API_URL: https://api2.prismacloud.io
  PC_PATH_TO_CONSOLE: https://us-east1.cloud.twistlock.com/us-2-158320372
  IMAGE_NAME: my-app:${{ github.sha }}
jobs:
  checkov:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Test with Checkov
        id: checkov
        uses: bridgecrewio/checkov-action@master
        with:
          directory: .
          api-key: ${{ secrets.PC_ACCESS_KEY_ID }}::${{ secrets.PC_SECRET_ACCESS_KEY}}
          #api-key: 97aa1b08-40a4-41f1-ab28-56a7a4ef1b63::jnzkv0O5ns52+va1ziGFvqQq9r4=
          #prisma-api-url: ${{ env.PC_API_URL }}
          prisma-api-url: ${{ env.PC_API_URL }}          #prisma-api-url: ${{ env.PRISMA_CLOUD_URL }}
          output_format: cli
          #use_enforcement_rules: True
          soft_fail: True
      # ESCANEO DE IMAGEN CON TWISTCLI
      - name: Build Docker Image
        run: |
          docker build -t $IMAGE_NAME .
  
      - name: Download twistcli from the Prisma Cloud Compute Console
        run: |
             curl --user ${{ secrets.PC_ACCESS_KEY_ID }}:${{ secrets.PC_SECRET_ACCESS_KEY }} --output ./twistcli ${{ env.PC_PATH_TO_CONSOLE }}/api/v1/util/twistcli
             chmod a+x ./twistcli
                   
       # Runs twistcli sandbox
      - name: Run twistcli sandbox
        run: |
          ./twistcli image scan --address ${{ env.PC_PATH_TO_CONSOLE }} --user ${{ secrets.PC_ACCESS_KEY_ID }} --password ${{ secrets.PC_SECRET_ACCESS_KEY }} ${{ vars.IMAGE_NAME }}
